@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  .animate-slide {
    width: 200%;
    animation: slide 20s linear infinite;
  }